.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media only screen and (max-width: 1300px) {
  body {
    zoom: 0.75;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.nvlink {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #ffffff;
}

.footerme {
  width: 50%;
  /* display: flex; */
  justify-content: end;
  /* align-items: center; */
  color: #ffffff;
}

.csvinfo {
  display: baseline;
  vertical-align: bottom;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.nvlink li {
  display: flex;
  list-style: none;
  color: #ffffff;
  /* color: rgb(139, 41, 117); */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#particles {
  position: absolute;
  background-color: white;
  z-index: -1;
}

.tokeninput {
  width: 90%;
}
